

.header {
    display: flex;
    background-image: url( "../img/header.png" );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    margin: 0 auto;


}

